/****** General ***********/



/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    list-style: none;
    list-style-type: none;
    width: 140px;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
    cursor: pointer;
}
nav ul li:hover{
    border-top: 2px solid;
    color: #0065FC;
    padding-top: 9px;
}









/*FILTRES*/


.heart {
    width: 20px;
}

.money {
    width: 20px;
}

.person {
    width: 20px;
}

.fire {
    width: 20px;
}

.filtreglobal {
    justify-content: space-between;
    min-width: 780px;
    display: inline-flex;
}

.child1 {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
}

.child2 {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
}

.filtreglobal div {
    padding: 13px 21px 0px 15px;
    border-radius: 30px;
    height: 34px;
    position: relative;
    border: solid 3px #d1cccc;
    font-weight: bold;
    font-size: 17px;
}

.filtreglobal div:hover {
    background: #DEEBFF;
    cursor: pointer;
}

.filtreglobal div i {
    font-size: 22px;
    position: absolute;
    top: 12px;
    left: 17px;
}

.filtreglobal div span {
    margin-left: 35px;
}


.filterTitle {
    margin-right: 20px;
    margin-top: 50px;
    display: inline-block;
}



/*PHRASE*/
.iconephrase {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.iconei {
    border-radius: 50%;
    border: solid 2px #d1cccc;
    height: 27px;
    width: 27px;
    text-align: center;
    font-size: 13px;
}

.i {
    position: relative;
    bottom: -4px;
}

.phrase {
    padding-top: 4px;
    padding-left: 14px;
}



/*TITRES,FORMULAIRE DE RECHERCHE,FILTRES*/
h2 {
    margin-bottom: -8px
}

p {
    margin-bottom: 32px;
}


/*FORMULAIRE DE RECHERCHE*/

.icone {
    height: 20px;
}

.borduresearch {
    width: 325px;
    display: flex;
    overflow: hidden;

}

.search {
    height: 44px;
    width: 162px;
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-align: center;
    border-width: 0px;
    padding-right: 10px;
    padding-left: 10px;
}


.boutonrechercher {
    width: 115px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0;
    font-size: 15px;
    height: 32px;
    padding-top: 13px;
    background-color: #0065FC;
    text-align: center;
    color: white;
    font-weight: bold;
}
.boutonrechercher span{
    display: block;
}
.boutonrechercher i{
    display: none;
}

.borduresearch>div:first-child {
    text-align: center;
    width: 48px;
    padding-top: 12px;
    background: #8080803d;
    border-radius: 10px 0px 0px 10px;
}

.borduresearch>div:nth-child(2) {
    border-top: 1px solid #8080803d;
    border-bottom: 1px solid #8080803d;
    height: 44px;


}

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    padding: 0 50px;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*FOOTER*/

footer {
    margin-top: 15px;
    background: #f2f2f2;
    padding: 10px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;

}

.footer-column li {
    list-style: none;
    padding: 5px;
}

.footer-column ul {
    padding: 0;
}

/*ACTIVITES*/









/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */



@media (max-width: 1024px) {
    /*RECHERCHE*/

    /*filter*/
    .filterTitle {
        display: block;
    }

    .filtreglobal {
        display: flex;

    }



    /*BLOC HEBERGEMENTS ET POPULAIRES*/

    .hebergements-and-populaires {
        flex-direction: column;
    }



    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    footer {
        width: 100%;
    }
}

@media (max-width: 912px) {
    .filtreglobal {
        min-width: auto;
    }

    .filtreglobal div {
        font-size: 16px;
    }

    .filtreglobal div i {
        font-size: 20px;
        left: 16px;
    }

    .filtreglobal div span {
        margin-left: 30px;
    }

    body {
        padding: 0 40px;
    }
}



/* Mobile */

@media (max-width: 767px) {
    body {
        padding: 0px;
    }

    .filtreglobal {
        flex-wrap: wrap;
    }

    .filtreglobal div {
        width: 35%;
        margin-bottom: 25px;
    }

    .content {
        width: 390px;
        margin: auto;
    }

    /*new code*/
    header {
        display: block;
        text-align: center;
    }
    header nav ul li{
        width: 50%;
    }

    nav ul li:hover{
        border-bottom: 2px solid;
        border-top: none;
        padding-top: 10px;
        padding-bottom: 9px;
    }
    .boutonrechercher span{
        display: none;
    }
    .boutonrechercher i{
        display: block;
    }

    .footer-columns {
        display: block;
    }

    h2 {
        text-align: start;
    }

    p {
        margin-left: 8px
    }

    .activités {
        margin-left: 50px;
    }
}

@media (max-width: 450px) {

    a.hebergements:hover {
        border-bottom: 2px solid;
        border-top: none;
    }

    a.activites:hover {
        border-bottom: 2px solid;
        border-top: none;
        padding-bottom: 10px;
    }
}